html{
	background-color:#ddddff;
}

body {
	width:800px;
	font-family:times,serif;
	background-color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px ;
}

#cabecalho{
	background-color:#666666;
	color:#ffffff;
	padding:20px;
}

ul{
list-style-type:none;
padding:10px;
margin:0px;
}
li:before{
content:"| ";
}
li:first-child:before{
content:"";
}
li{
  display: inline;
}
#menu {
background-color:black;
color:white;
margin-bottom: 10px;
}
#menu a{
      text-decoration:none;
	  color:white;
	  text-weight:none;
	  }

input[type=radio] {
    display:none;
    margin:10px;
}

input[type=radio] + label {
    display:inline-block;
    margin:5px;
    padding: 4px 10px;
    background-color: #e7e7e7;
    box-shadow: 2px 2px 1px #888888;
}

input[type=radio]:checked + label {
   background-image: none;
   background-color:#c0c0c0;
}

#conteudo .open_invoice a {
text-decoration:none;
}		

table { 
  color: #000000;
  font-family:  calibri;
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
  -moz-border-radius:6px;
	
}
		
td,th { 
border: 0 none;
border-bottom:1pt solid black;
height: 18px;
padding: 5px 10px;
}
#conteudo table{
margin: auto;
margin-top: 1%;
}
#conteudo .open_invoice a {
text-decoration:none;
color:black;
text-weight:none;
}		

a[href], label[for],button .pointer {
       cursor: pointer;
}
th {
    color: #FFF; font-weight: bold;
    height: 25px;
    text-align: left;
    font-size: 15px;
    font-color: #FFF;
    padding-left:20px;
    font-style: italic;

}
		
td {
background: #FAFAFA;
text-align: center;
padding: 5px 10px;
}

tr td table{

	 margin: 0;

}

tr td:first-child{ 
	background: none; 
	font-style: italic;
        border-right:1pt solid black;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	 margin: 0;
	
padding: 5px 10px;
}


#rodape{
margin-left:10px;
}
